@charset "UTF-8";

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01s !important;
    -webkit-animation-duration: 0.01s !important;
            animation-duration: 0.01s !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

body {
  background: #f0f0f0;
  color: #818282;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  font-size: 3vw;
  font-size: 17px;
  text-rendering: optimizeSpeed;
}

@media (max-width: 33.3333333333em) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 37.5em) {
  body {
    font-size: 1.125em;
  }
}

a:not([class]) {
  color: currentColor;
  -webkit-text-decoration-color: #006580;
          text-decoration-color: #006580;
}

:focus {
  outline: 2px dashed #006580;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  line-height: 1.1;
}

::-moz-selection {
  background: rgba(19, 20, 20, 0.99);
  color: #000000;
}

::selection {
  background: rgba(19, 20, 20, 0.99);
  color: #000000;
}

::-webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  border: 1px solid #818282;
  border-radius: 0.25rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: #818282;
}

.noscroll {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you’ll
  get a fully responsive grid with no media queries.

  https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
*/

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 16rem), 1fr));
  grid-gap: var(--auto-grid-gap, get-size("500"));
}

.columns > * + * {
  margin-top: 1.777rem;
}

@media (min-width: 1023px) {
  .columns > * + * {
    margin-top: 0;
  }
}

.columns {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 625px;
}

@media (min-width: 1023px) {
  .columns {
    display: grid;
    max-width: 100%;
    grid-auto-flow: dense;
    grid-gap: 1.5em;
  }
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-offset {
  grid-template-columns: 0.5fr 1fr;
}

.v-align-top {
  align-items: start;
}

.v-align-center {
  align-items: center;
}

.flow__sm > * + * {
  margin-top: 1rem;
}

.flow > * + * {
  margin-top: 1.777rem;
}

.flow_large > * + * {
  margin-top: 4.209rem;
}

.flow__xl > * + * {
  margin-top: 6.25rem;
}

@media (min-width: 1023px) {
  .flow__xl > * + * {
    margin-top: 8.75rem;
  }
}

.panel {
  margin: 2.369rem 0;
  padding: 2.369rem 0;
}

@media (min-width: 1023px) {
  .panel {
    margin: 3.157rem 0;
    padding: 3.157rem 0;
  }
}

.radius {
  border-radius: 0.25rem;
}

.site-wrap {
  overflow-x: hidden;
  position: relative;
}

.hero,
h1,
h2,
h3,
h4 {
  color: #003D4D;
}

.hero {
  font-size: 3vw;
  font-size: 49.27px;
}

@media (max-width: 93.3rem) {
  .hero {
    font-size: 2.799rem;
  }
}

@media (min-width: 111.9666666667rem) {
  .hero {
    font-size: 3.359rem;
  }
}

h1,
.h1 {
  text-transform: uppercase;
  font-size: 3vw;
  font-size: 41.05px;
}

@media (max-width: 77.7666666667rem) {
  h1,
  .h1 {
    font-size: 2.333rem;
  }
}

@media (min-width: 93.3rem) {
  h1,
  .h1 {
    font-size: 2.799rem;
  }
}

h2,
.h2 {
  letter-spacing: -0.72px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
  font-size: 3vw;
  font-size: 34.21px;
}

@media (max-width: 64.8rem) {
  h2,
  .h2 {
    font-size: 1.944rem;
  }
}

@media (min-width: 77.7666666667rem) {
  h2,
  .h2 {
    font-size: 2.333rem;
  }
}

h3,
.h3 {
  font-size: 3vw;
  font-size: 28.51px;
}

@media (max-width: 54rem) {
  h3,
  .h3 {
    font-size: 1.62rem;
  }
}

@media (min-width: 64.8rem) {
  h3,
  .h3 {
    font-size: 1.944rem;
  }
}

h4,
.h4 {
  font-size: 3vw;
  font-size: 23.76px;
}

@media (max-width: 45rem) {
  h4,
  .h4 {
    font-size: 1.35rem;
  }
}

@media (min-width: 54rem) {
  h4,
  .h4 {
    font-size: 1.62rem;
  }
}

.small,
label {
  font-size: 3vw;
  font-size: 13.75px;
}

@media (max-width: 26.0333333333rem) {
  .small,
  label {
    font-size: 0.781rem;
  }
}

@media (min-width: 31.2666666667rem) {
  .small,
  label {
    font-size: 0.938rem;
  }
}

.visually-hidden,
.honeypot {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  width: 1px;
  height: auto;
  border: 0;
  white-space: nowrap;
}

.wrapper {
  max-width: 70rem;
  padding: 0 1.333rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

button,
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 36px;
  min-width: 65px;
  max-width: 130px;
  max-height: 43px;
  border: none;
  border-color: transparent;
  border-radius: 100px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button:focus,
.button:focus {
  outline: 1px dashed #131414;
  outline-offset: 5px;
}

button:active,
.button:active {
  transform: scale(0.99);
}

.primary {
  background: #131414;
  color: #000000;
}

.primary:hover,
.primary:focus {
  background: #003D4D;
  color: #ffffff;
}

.fw-mobile {
  width: 100%;
  width: auto;
}

.content > * {
  margin-top: 0;
  margin-bottom: 0;
}

.content > * + * {
  margin-top: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content p {
  max-width: 44ch;
}

.content li + li {
  margin-top: 0.25em;
}

.content blockquote {
  padding: 1.25em 1.5em;
  background-color: #818282;
}

.content ol {
  margin-top: 1em;
  list-style-position: outside;
}

.content ol:not([type]) {
  list-style-type: decimal;
}

.content ol:not([type]).is-lower-alpha {
  list-style-type: lower-alpha;
}

.content ol:not([type]).is-lower-roman {
  list-style-type: lower-roman;
}

.content ol:not([type]).is-upper-alpha {
  list-style-type: upper-alpha;
}

.content ol:not([type]).is-upper-roman {
  list-style-type: upper-roman;
}

.content ul {
  margin-top: 1em;
  list-style: disc outside;
}

.content ul ul {
  margin-top: 0.5em;
  list-style-type: circle;
}

.content ul ul ul {
  list-style-type: square;
}

.content figure {
  margin-right: 2em;
  margin-left: 2em;
  text-align: center;
}

.content figure:not(:first-child) {
  margin-top: 2em;
}

.content figure:not(:last-child) {
  margin-bottom: 2em;
}

.content figure img {
  display: inline-block;
}

.content figure figcaption {
  font-style: italic;
}

.content pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  -webkit-overflow-scrolling: touch;
}

.content sup,
.content sub {
  font-size: 75%;
}

.content table {
  width: 100%;
}

.content table td,
.content table th {
  padding: 0.5em 0.75em;
  border: 1px solid #818282;
  border-width: 0 0 1px;
  vertical-align: top;
}

.content table th {
  color: inherit;
}

.content table th:not([align]) {
  text-align: inherit;
}

.content table thead td,
.content table thead th {
  border-width: 0 0 2px;
  color: inherit;
}

.content table tfoot td,
.content table tfoot th {
  border-width: 2px 0 0;
  color: inherit;
}

.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
  border-bottom-width: 0;
}

.content .tabs li + li {
  margin-top: 0;
}

footer {
  background-color: #003D4D;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 300;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
}

@media (min-width: 1023px) {
  footer {
    text-align: left;
  }
}

footer a {
  color: #ffffff !important;
  text-decoration: none !important;
}

footer a:hover {
  color: #A1A1A1;
  text-decoration: underline;
}

footer .columns {
  grid-template-columns: 1fr auto;
  align-items: center;
}

footer .columns .column:last-of-type {
  margin-top: 0.75rem;
}

@media (min-width: 767px) {
  footer .columns .column:last-of-type {
    margin-top: 0;
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.outer-1by1 {
  position: relative;
}

.outer-1by1:before {
  display: block;
  padding-top: 100%;
  width: 100%;
  content: "";
}

.outer-1by1 .inner-1by1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.outer-5by3 {
  position: relative;
}

.outer-5by3:before {
  display: block;
  padding-top: 60%;
  width: 100%;
  content: "";
}

.outer-5by3 .inner-5by3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.outer-15by9 {
  position: relative;
}

.outer-15by9:before {
  display: block;
  padding-top: 60%;
  width: 100%;
  content: "";
}

.outer-15by9 .inner-15by9 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.outer-16by9 {
  position: relative;
}

.outer-16by9:before {
  display: block;
  padding-top: 56.25%;
  width: 100%;
  content: "";
}

.outer-16by9 .inner-16by9 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

fieldset {
  border: none;
}

.horizontal-field {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1023px) {
  .horizontal-field {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }
}

.horizontal-field > * + * {
  margin-top: 0.5rem;
}

@media (min-width: 1023px) {
  .horizontal-field > * + * {
    margin-top: 0;
  }
}

label {
  display: block;
  margin-bottom: 0.25rem;
  width: 100%;
  color: #818282;
  line-height: 1.2;
}

label .require {
  color: #131414;
}

input[type=text],
input[type=date],
input[type=time],
input[type=email],
textarea,
select {
  padding: 0.5rem;
  width: 100%;
  height: 45px;
  border: 1px #A1A1A1 solid;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #818282;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 3vw;
  font-size: 13.75px;
}

@media (max-width: 26.0333333333em) {
  input[type=text],
  input[type=date],
  input[type=time],
  input[type=email],
  textarea,
  select {
    font-size: 0.781em;
  }
}

@media (min-width: 31.2666666667em) {
  input[type=text],
  input[type=date],
  input[type=time],
  input[type=email],
  textarea,
  select {
    font-size: 0.938em;
  }
}

input[type=radio] {
  margin: 0;
  padding: 0;
}

textarea {
  padding: 1rem;
  width: 100%;
  height: 200px;
  border-top: none;
  border-right: none;
  border-bottom: 1px #A1A1A1 solid;
  border-left: none;
  border-radius: 0px;
  background-color: #ffffff;
  color: #818282;
}

input::-moz-placeholder {
  color: #fe9476;
}

input:-ms-input-placeholder {
  color: #fe9476;
}

input::placeholder {
  color: #fe9476;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=email]:focus,
input[type=radio]:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border: 1px solid #131414;
  box-shadow: 0 0 5px #131414;
}

select {
  background-image: url("/assets/svg/down-arrow.svg");
  background-position-x: 94%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

.checkbox_cnt {
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox_cnt input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox_cnt .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px #A1A1A1 solid;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 25px;
}

.checkbox_cnt .radio {
  position: absolute;
  top: 3.5px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px #A1A1A1 solid;
  border-radius: 50%;
  background-color: #ffffff;
  line-height: 25px;
}

.checkbox_cnt p {
  color: #818282;
  line-height: 25px;
}

.checkbox_cnt:hover input ~ .checkmark,
.checkbox_cnt:hover input ~ .radio {
  background-color: #A1A1A1;
}

.checkbox_cnt input:checked ~ .checkmark,
.checkbox_cnt input:checked ~ .radio {
  background-color: #131414;
}

.checkmark:after {
  position: absolute;
  display: none;
  content: "";
}

.checkbox_cnt input:checked ~ .checkmark:after {
  display: block;
}

.checkbox_cnt .checkmark:after {
  top: 6px;
  left: 9px;
  width: 6px;
  height: 11px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.alert {
  display: block;
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-weight: 500;
}

.alert p {
  margin-bottom: 0;
}

.alert-warning {
  border-left: 3px solid #FFE74C;
  background-color: #FFF9D2;
  color: #818282;
}

.alert-success {
  border-left: 3px solid #6BF178;
  background-color: #DAFCDD;
  color: #818282;
}

header {
  width: 100vw;
  background-color: #006580;
  box-shadow: 7px 10px 7px rgba(2, 18, 40, 0.09);
}

header .navbar {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-template-areas: "logo header";
}

header .navbar .brand {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 150px;
  height: 53px;
  grid-area: logo;
}

header .navbar .header__buttons {
  display: flex;
  justify-content: flex-end;
  grid-area: header;
  justify-self: end;
}

@media (min-width: 1023px) {
  header .navbar .header__buttons {
    width: 250px;
  }
}

header .navbar .menu-container {
  position: fixed;
  top: 85px;
  right: -400px;
  z-index: 50;
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: #003D4D;
  opacity: 0;
  transition: top 0.5s ease, right 0.75s ease 0.2s, opacity 0.2s ease;
}

@media (min-width: 767px) {
  header .navbar .menu-container {
    width: 490px;
  }
}

header .navbar .menu-container .nav {
  position: relative;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  text-align: center;
}

header .navbar .menu-container .nav li {
  display: block;
  border-bottom: solid 1px #000d10;
}

header .navbar .menu-container .nav li:last-of-type {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header .navbar .menu-container .nav li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 50px;
}

header .navbar .menu-container .nav li a:hover,
header .navbar .menu-container .nav li a:focus {
  background-color: #00252e;
  color: #ffffff;
}

header .navbar .menu-container .nav li .active {
  background-color: #00252e;
  color: #ffffff;
}

header .navbar .menu-container .nav li .nav_call {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header .navbar .menu-container .nav li .nav_call .nav_call__title {
  color: #99C1CC;
  font-size: 18px;
}

header .navbar .show {
  right: 0;
  display: block;
  opacity: 1;
}

header .hamburger {
  margin-left: 1rem;
  padding: 0;
  min-width: auto;
  background-color: transparent;
}

header .hamburger .line {
  display: block;
  margin: 6px auto;
  width: 35px;
  height: 5px;
  border-radius: 4px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

header .hamburger.isOpen .line:nth-child(2) {
  opacity: 0;
}

header .hamburger.isOpen .line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

header .hamburger.isOpen .line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.transition {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
}

@media (min-width: 1023px) {
  .transition {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.transition .promo {
  display: inline-flex;
  align-items: center;
  margin-top: 0.5rem;
  text-decoration: none;
}

@media (min-width: 1023px) {
  .transition .promo {
    margin-top: 0;
  }
}

.transition .promo:hover {
  transition: 0.7s;
  text-decoration: none;
  color: #ffffff;
}

.transition .promo:hover .image-swap {
  filter: grayscale(0%);
  transition: 0.7s;
}

.transition .promo:hover .heart {
  transition: 0.7s;
  fill: red;
}

.transition .promo .heart {
  margin: 0 0.5rem;
  width: 15px;
  fill: #ffffff;
}

.transition .promo .picture {
  margin-left: 0.5rem;
  width: 30px;
  height: 30px;
}

.transition .promo .image-swap {
  filter: grayscale(100%);
}

