{% extends "layouts/base.html" -%}

{% set pageHeaderTitle = title -%}

{% block content -%}
<article aria-label="Introduction Image">
  <div class="wrapper flow">
    <div class="columns">
      <div class="column flow__sm">
        {% if image -%}
        <picture class="image outer-16by6">
          <img class="lazyload blur-up inner-16by6 cover" data-src="{{ image.src }}" title="{{ image.title }}"
            alt="{{ image.alt }}" width="1080" height="404">
        </picture>
        {% endif -%}
        <h2>{{ title }}</h2>
      </div>
    </div>
    <div class="columns col-2">
      {{ content | safe }}
    </div>
  </div>
</article>
{% endblock -%}
