{% extends "layouts/base.html" -%}

{% set pageHeaderTitle = title -%}

{% block content -%}
<article aria-label="Contact">
  <div class="wrapper flow">
    <div class="columns">
      <div class="column">
        <h2>{{ title }}</h2>
      </div>
    </div>
    <div class="columns col-2">
      <div class="column content flow__sm">
        <p>If you have questions before booking an appointment, please use the details below to either call us directly
          or send an email. Appointments can be booked online using the online booking url.</p>
        {% include "partials/_contact-details.html" -%}
      </div>
      <div class="column content flow__sm">
        <p><strong>Our address:</strong></p>
        <p>Room 17, Lower Basement, <br>
          Normandy House, <br>
          305-309 High Street,<br>
          Cheltenham,<br>
          Gloucestershire, GL50 3HW</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        {% include "partials/_map.html" -%}
      </div>
    </div>
  </div>
</article>
{% endblock -%}
