{% extends "layouts/base.html" -%}

{% set pageHeaderTitle = title -%}

{% block content -%}
<article aria-label="Testimonials">
  <div class="wrapper flow">
    <div class="columns">
      <div class="column">
        <h2>{{ title }}</h2>
      </div>
    </div>
    <div class="columns col-offset">
      <div class="column flow__sm">
        <h4>Chris Fortey</h4>
        <p><strong>Ex Gloucester and Worcester Warriors RFC, England A and Barbarians.</strong></p>
        <p>Having known Angela on a professional level as a physio for many years, for the last 18 months she has
          treated and helped me with her vast knowledge and techniques that have enabled me to perform week in week out
          to my highest standard of rugby in National 2 South for Hartpury RFC. Her level of professionalism is of the
          highest standard and I would recommend her to anybody.</p>
      </div>
      <div class="column flow__sm">
        <picture class="image outer-1by1">
          <img class="lazyload blur-up inner-1by1 cover" data-src="/assets/img/chris-fortey.jpg"
            title="Chris Fortey, Ex Gloucester and Worcester Warriors RFC, England A and Barbarians"
            alt="Chris Fortey, Ex Gloucester and Worcester Warriors RFC, England A and Barbarians" width="350"
            height="350">
        </picture>
      </div>
    </div>
    <hr>
    <div class="columns col-offset-rev">
      <div class="column">
        <picture class="image outer-1by1">
          <img class="lazyload blur-up inner-1by1 cover" data-src="/assets/img/Nolli-Waterman.jpg"
            title="Nolli Waterman, World Cup Winner & GB Olympic Sevens Player"
            alt="Nolli Waterman, World Cup Winner & GB Olympic Sevens Player" width="350" height="350">
        </picture>
      </div>
      <div class="column flow__sm">
        <h4>'Nolli' Waterman</h4>
        <p><strong>England Women (World Cup Winner & GB Olympic Sevens Player)</strong></p>
        <p>Playing rugby often comes hand in hand with injury, and I am no exception. Over the past 4 years Ange has
          provided excellent treatment and support through a number of small and more extensive injuries I have picked
          up. This has included long term treatment and progression after muscle reconstruction surgery back to playing
          International rugby.</p>
        <p>​She has always given me a detailed rehab plan with simple steps to take, alongside using various treatment
          techniques depending on the symptoms I have shown. In particular, I have benefited from the use of acupuncture
          with soft tissue tightness, and Ange never fails to find something that is sore!</p>
        <p>​Ange has also always given me the confidence to ‘take the next steps’ with my rehab, and overcome the mental
          challenge you face when returning to sport. This has not only been because of the faith I have in her
          treatment, but by listening to me, and how I feel as an individual.</p>
      </div>
    </div>
    <hr>
    <div class="columns col-offset">
      <div class="column flow__sm">
        <h4>Joe McClean</h4>
        <p><strong>Scotland & Glos All Golds Rugby League</strong></p>
        <p>Playing any sport especially contact sports such as rugby league can take its toll on the body.
          Ange’s range of professional modern treatments helps keep my body in best condition ready
          to compete each week at a high standard. Without her support and treatment minor niggles
          and injuries can very quickly become bigger problems effecting my ability to play.</p>
        <p>Ange has been treating me and working with the All Golds professional rugby league team for
          over 3 years now providing specialist individual player treatment, rehab and support throughout
          the season.</p>
        <p>​In addition to this, Ange has provided me with fantastic private treatment and advice in short notice
          leading up to the European Championships in 2014 where I required immediate treatment on a shoulder injury.
          Ange’s flexible clinics enabled me to fit treatment around my training schedule and ensured that I received
          the treatment I needed in very short notice.</p>
      </div>
      <div class="column flow__sm">
        <picture class="image outer-1by1">
          <img class="lazyload blur-up inner-1by1 cover" data-src="/assets/img/Joe-McClean.jpg"
            title="Joe McClean, Scotland & Glos All Golds Rugby League"
            alt="Joe McClean, Scotland & Glos All Golds Rugby League" width="350" height="350">
        </picture>
      </div>
    </div>
    <hr>
    <div class="columns col-2">
      <div class="column flow__sm">
        <h4>Leroy Hughes</h4>
        <p><strong>Rugby player</strong></p>
        <p>I have had my aching body put back into full working order under Ange's excellent care. I am specific about
          who 'looks after' my body because of my job and a keen rugby player, I need to be strong and mobile. Ange is
          the only person I will trust! She is extremely professional without loosing sight of the importance of
          individual care. She looks at not only the presenting problem but the history and lifestyle that may be
          contributing to your condition. I cannot recommend her highly enough!</p>
      </div>
      <div class="column flow__sm">
        <h4>Holly Wrigley</h4>
        <p><strong>Teacher</strong></p>
        <p>Angela was extremely thorough and efficient at sorting out an on-going problem with my back and foot that I
          had put up with for a long time. Treatment was a mixture of deep massage, acupuncture, and some exercises for
          me to complete, ensuring I was back to full fitness in no time. She is extremely knowledgeable yet
          communicates with you on a level at which you feel engaged to understand what is going on with your body.
          Thank you, Angela.</p>
      </div>
    </div>
    <hr>
    <div class="columns col-2">
      <div class="column flow__sm">
        <h4>Shaun Dowdeswell</h4>
        <p><strong>Cross fitter & business owner</strong></p>
        <p>I am over the moon and amazed by the treatment I have received by Angela to improve my ankle mobility. I have
          been able to return to CrossFit and I am even challenging myself further with my workouts with my increased
          movement. I would highly recommend Angela and her expert physiotherapy service.</p>
      </div>
      <div class="column flow__sm">
        <h4>Hayley McNeil</h4>
        <p><strong>Runner & nurse</strong></p>
        <p>Following a half marathon I obtained a painful right hip. I was unable to run and had additional races coming
          up, so I booked in to see Angela. After just two sessions of acupuncture, deep tissue massage and a full
          assessment of my gait and biomechanics, I was back in training. Angela was very professional in her manner,
          explaining in simple language my injury and how she was going to treat it. I am back training and back on
          track. If I get anymore issues I will not hesitate to book back in.</p>
      </div>
    </div>
    <hr>
    <div class="columns col-2">
      <div class="column flow__sm">
        <h4>Victoria Hall</h4>
        <p><strong>Registered Manager/Managing Director, Broomfield Care Ltd</strong></p>
        <p>I have been receiving treatment with Angela, for over five years now. She has also be able to find the cause
          of the problem when others haven’t resolved it. Her experience with working with professional sports men and
          women shows in the service she delivers. I cannot thank Angela enough for her advice and treatment with all my
          injures over the years. I would not hesitate to recommend her practice to anyone in the future.</p>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</article>
{% endblock -%}
