{% include "partials/_footer-contact.html" -%}
<footer role="contentinfo">
  <div class="wrapper">
    <div class="columns col-2">
      <div class="column">
        <p class="legal">&copy; {{ site.name }} <span id="year"></span> | <a href="/privacy-and-cookies-policy"
            title="Privacy and Cookie Policy">Privacy and Cookie Policy</a></p>
      </div>
      <div class="column">
        <div class="transition">
          <a class="promo" href="https://www.transition-creative.co.uk/" target="_blank" rel="noopener"
            title="Transition Creative, Web Design Studio, Gloucester">
            Site made with
            <svg class="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z" />
            </svg>
            by
            <figure class="picture">
              <img src="/assets/img/transition-creative-logo.png"
                alt="Transition Creative, Web Design Studio, Gloucester" width="30" height="30"
                class="image-swap lazyload">
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% if env.environment === 'development' -%}
<script src="/assets/js/main.min.js?{{ assetHash }}" type="text/javascript"></script>
{% else -%}
<script src="/assets/js/main.min.js?{{ assetHash }}" type="text/javascript"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9483E4MXRW"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-9483E4MXRW');</script>
{% endif -%}
