<header class="banner" role="banner">
  <div class="wrapper">
    <nav class="navbar" role="navigation" aria-label="main navigation" x-data="{ isOpen: false }" @click.away="isOpen = false" >
      <a class="brand" href="/" aria-label="Navigate back to Home Page" title="Navigate back to Home Page">
        <img src="/assets/img/as-physiotherapy-logo.jpg" height="79" width="69" alt="Committed to providing expert management of Sports Injuries" title="Committed to providing expert management of Sports Injuries">
        <h1>AS Physiotherapy<br>
          <span class="subtitle">
            Physiotherapy and Sports Injury Management
          </span>
        </h1>
      </a>
      <div class="header__buttons">
        <a class="button primary contact_btn" href="https://www.my-physio.co.uk:8443/OnlineOptions/PageRenderer?si=TEG1201O1L3VB7G2VRMN96J4341IR54A1D433MB7" target="blank" rel="noopener" title="Book an appointment">Book an appointment</a>
        <button @click="isOpen = !isOpen" :class="{ 'isOpen': isOpen }" :aria-expanded="isOpen ? 'true' : 'false'" type="button" role="button" class="hamburger" aria-controls="menu-container" aria-haspopup="true" aria-label="toggle main menu visibility">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
      </div>

      <div class="menu-container" x-show.transition.opacity="isOpen" @keydown.escape.window="isOpen = false" :class="{ 'show': isOpen, 'hidden': !isOpen }">
          {% set navPages = collections.all | eleventyNavigation %}
          {% macro renderNavListItem(entry) -%}
          <li>
            <a {% if entry.url == page.url %} class="active"{% endif %} href="{{ entry.url | url }}" title="{{ entry.title }}">{{ entry.title }}</a>
          {%- if entry.children.length -%}
            <ul>
              {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
            </ul>
          {%- endif -%}
          </li>
          {%- endmacro %}
          <ul class="nav">
          {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
          <li>
            <a class="nav_call" href="https://www.my-physio.co.uk:8443/OnlineOptions/PageRenderer?si=TEG1201O1L3VB7G2VRMN96J4341IR54A1D433MB7" target="blank" rel="noopener" title="Book an appointment">
              <span class="nav_call__title">Book an appointment?</span><br>
              Online Booking
            </a>
          </li>
          </ul>
      </div>
    </nav>
  </div>
</header>
